.DS_STORE
/node_modules
#router/isotropic/node_modules
#router/techomoro/node_modules

/build
#router/isotropic/build
#router/techomoro/build

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build


